# standard scaling

In [ ]:
# Standard scalling is used to normalize the data so 
# that it has a mean of 0 and a standard deviation of 1. 
# This is done by subtracting the mean and dividing by the standard deviation.
# formula of standard scalling is:
# x = (x - mean) / std 
# or
# z = x -/ std

In [9]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [3]:
#create dataset of age and weight and height
# Create dataset of age, weight, and height
data = {
    'age': [25, 30, 35, 40, 45],
    'weight': [150, 160, 170, 180, 190],
    'height': [65, 68, 70, 72, 74]
}

df = pd.DataFrame(data)
print(df)

   age  weight  height
0   25     150      65
1   30     160      68
2   35     170      70
3   40     180      72
4   45     190      74

In [5]:
#imp the scaler
scaler1=StandardScaler()

#fit the scaler to the data
scaler_df=scaler1.fit_transform(df)

In [6]:
scaler_df

array([[-1.41421356, -1.41421356, -1.53644256],
       [-0.70710678, -0.70710678, -0.57616596],
       [ 0.        ,  0.        ,  0.06401844],
       [ 0.70710678,  0.70710678,  0.70420284],
       [ 1.41421356,  1.41421356,  1.34438724]])

In [7]:
#convert this array into dataframe
df1=pd.DataFrame(scaler_df,columns=df.columns)
df1

        age    weight    height
0 -1.414214 -1.414214 -1.536443
1 -0.707107 -0.707107 -0.576166
2  0.000000  0.000000  0.064018
3  0.707107  0.707107  0.704203
4  1.414214  1.414214  1.344387

In [8]:
#we have succefully normalized the data from high to low

# Min Max Scaller

In [18]:
#minmax scaler
# MinMaxScaler is used to normalize the data by scaling all the values between 0 and 1. 
# formula of minmax scaler is:
# x = (x - min) / (max - min)

#diff between minmax and standard scalling is that minmax is used to normalize the data by
# scaling all the values between 0 and 1 while standard scalling is used to normalize the data by 
mscaller=MinMaxScaler()

#fit the scaler to the data
mscaler1= mscaller.fit_transform(df)
mscaller
#convert this array into dataframe
df1=pd.DataFrame(mscaler1,columns=df.columns)
df1

    age  weight    height
0  0.00    0.00  0.000000
1  0.25    0.25  0.333333
2  0.50    0.50  0.555556
3  0.75    0.75  0.777778
4  1.00    1.00  1.000000

# maxabs scaler

In [17]:
#import maxabs scaler
# MaxAbsScaler is used to normalize the data by scaling all the values between 0 and 1.

scaler1=MaxAbsScaler()

#fit the scaler to the data
scaler_df=scaler1.fit_transform(df)

#convert this array into dataframe
df1 = pd.DataFrame(scaler_df, columns=df.columns)
df1

        age    weight    height
0  0.555556  0.789474  0.878378
1  0.666667  0.842105  0.918919
2  0.777778  0.894737  0.945946
3  0.888889  0.947368  0.972973
4  1.000000  1.000000  1.000000