# CatBoost
CatBoost is a gradient boosting algorithm. It is an optimized version of gradient boosting. It is based on decision trees. It is used for classification and regression problems.

In [13]:
#install catboost
!pip install catboost -q

In [14]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

#importing libraries for machine learning
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [15]:
#loading dataset
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
#imputing missing values
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [17]:
#impute the misssing values using wit mode median
#impute the missing values using mode for categorical variables and median for numerical variables
df['age'].fillna(df['age'].median(), inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
df['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)
#drop the deck column
df.drop('deck', axis=1, inplace=True)

In [18]:
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [25]:
#convert each category column into type category
cat_col=df.select_dtypes(include=['object', 'category']).columns

# #add this into a new columns
# df['cat_col']=df[cat_col].astype('category')

In [26]:
#split the dataset into X and y
X = df.drop('survived', axis=1)
y = df['survived']

#split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [31]:
#catboost model
cat_model = CatBoostClassifier( 
    iterations=100,
    depth=3,
    learning_rate=0.01,
    loss_function='Logloss',
    eval_metric='Accuracy',
    verbose=False
)
cat_model.fit(X_train, y_train, cat_features=cat_col.tolist())

#make predictions
predictions = cat_model.predict(X_test)

#evaluate the model
print(f'accuracy_score: {accuracy_score(y_test, predictions)}')
print(f'confusion_matrix: \n{confusion_matrix(y_test, predictions)}')
print(f'classification_report: \n{classification_report(y_test, predictions)}')

accuracy_score: 1.0
confusion_matrix:
[[157   0]
 [  0 111]]
classification_report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       157
           1       1.00      1.00      1.00       111

    accuracy                           1.00       268
   macro avg       1.00      1.00      1.00       268
weighted avg       1.00      1.00      1.00       268